/LayoutSample/
/loto-components/nbproject/private/
/loto-components/build/
/loto-components/dist/
/target/
/loto-components/target/
/loto-client-tv/build/
/loto-client-tv/dist/
/loto-core/target/
/loto-admin-2/nbproject/private/
/loto-admin/target/
/loto-client-tv-2/build/
/loto-client-tv-2/dist/
/loto-client-tv-2/nbproject/private/
/loto-client-tv/target/
/loto-shared/target/
/loto-server-tv/target/
/loto-crypto/target/